// Color Set

// General
$background-masthead-color: #e3f2fd;
$background-color: #eceff1;
$foreground-color: #263238;
$icon-color: #78909c;
$white-color: #ffffff;
$black-color: #000000;

// Buttons
$disabled-button-background: rgba(transparent, 0.5);
$disabled-button-foreground: #b0bec5;

// Text-colors
$dark-primary-text: rgba(#000000, 0.87);
$dark-secondary-text: rgba(#000000, 0.54);
$dark-disabled-text: rgba(#000000, 0.38);
$dark-dividers: rgba(#000000, 0.12);
$dark-focused: rgba(#000000, 0.12);
$light-primary-text: #ffffff;
$light-secondary-text: rgba(#ffffff, 0.7);
$light-disabled-text: rgba(#ffffff, 0.5);
$light-dividers: rgba(#ffffff, 0.12);
$light-focused: rgba(#ffffff, 0.12);

// Primary: MaterialUI - lightBlue (600, 200, 900)
$primary-base: #039be5;
$primary-light: #81d4fa;
$primary-dark: #01579b;

// Secondary: MaterialUI - amber (500, 300, 700)
$secondary-base: #ffc107;
$secondary-light: #ffd54f;
$secondary-dark: #ffa000;

// Accent: MaterialUI - green (A700, 300, 900)
$accent-base: #00c853;
$accent-light: #81c784;
$accent-dark: #1b5e20;

// Warn: MaterialUI - red (A700, 400, 900)
$warn-base: #d50000;
$warn-light: #ef5350;
$warn-dark: #b71c1c;


