// Font-Family
$font-family: 'Roboto, "Helvetica Neue", sans-serif';

// Font-Size
$display-4-size: 112px;
$display-3-size: 56px;
$display-2-size: 45px;
$display-1-size: 34px;
$headline-size: 32px;
$title-size: 24px;
$subheading-2-size: 18px;
$subheading-1-size: 16px;
$body-1-size: 14px;
$body-2-size: 14px;
$caption-size: 12px;
$button-size: 14px;
$input-size: 16px;

// Line-Height
$display-4-line-height: 112px;
$display-3-line-height: 56px;
$display-2-line-height: 48px;
$display-1-line-height: 40px;
$headline-line-height: 32px;
$title-line-height: 32px;
$subheading-2-line-height: 28px;
$subheading-1-line-height: 24px;
$body-1-line-height: 24px;
$body-2-line-height: 24px;
$caption-line-height: 20px;
$button-line-height: 14px;
$input-line-height: 1.125;

// Font-weight
$display-4-font-weight: 300;
$display-3-font-weight: 400;
$display-2-font-weight: 400;
$display-1-font-weight: 400;
$headline-font-weight: 300;
$title-font-weight: 300;
$subheading-2-font-weight: 400;
$subheading-1-font-weight: 400;
$body-1-font-weight: 300;
$body-2-font-weight: 500;
$caption-font-weight: 300;
$button-font-weight: 400;
$input-font-weight: 300;